

body{
    font-family: 'Poppins', sans-serif;

    transition: 0.3s;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

h1 {
    color: rgba(12, 105, 0, 0.816);
    font-size: 80px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;
}
p{
    margin: 0;
    font-size: 20px;
}

a{
    color: rgba(12, 105, 0, 0.816);
    font-size: 20px;
    text-decoration: none;
    font-weight:600;
    display: flex;
    margin-top: 20px;
    
}

.dark a {
    color: rgb(142, 194, 137);

}
.dark h1{
    color: rgb(142, 194, 137);
}


.switch {
    width: 80px;
    height: 40px;
    background-color: rgb(62, 61, 61);
    border-radius: 20px;
    position: relative;

}

.flicker{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    box-shadow: 
        inset 4px 4px 4px rgb(255,255,255),
        inset -14px -14px 10px rgb(195 193 198 / 80%);
    transition: 0.3s;
}


.dark{
    background-color: rgb(57, 57, 57);
    transition: 0.3s;
    
}

.dark>*{
    color: white;
}

.moon{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 white;
    position: absolute;
    top:5px;
    left:45px;
}

.dark .flicker{
    transform: translateX(40px);
}



.main{
    height: 80vh;
}

.main-text{
    
    padding: 30px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: rgb(111, 151, 107);
    margin-top:  80vh
}
.dark footer{
    background-color: rgb(142, 194, 137);
}



.hero-img{
    position: relative;
    width: 50%;
    height: 350px;

}

.cube{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: pink;
    transform: rotate(-25deg) skew(25deg);
}


@media only screen and (min-width: 970px){
    .main-text{
        width: 50%;
    }

}

